.navigator {
  padding-top: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("../img/navigator_bg.png") no-repeat top 30rem left;

  &__lead {
    @include lead;
    padding-left: 10rem;

    @media (max-width: 1024px) {
      padding-left: 0;
    }
  }
  &__title {
    max-width: 35rem;
    @include title;
    padding-left: 10rem;

    @media (max-width: 1024px) {
      padding-left: 0;
    }
  }

  @media (max-width: 1024px) {
    padding-top: 9.5rem;
    background: url("../img/navigator_bg.png") no-repeat top 11rem left;
    background-size: 36%;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    text-align: center;
    background: none;

    img {
      margin-top: 3rem;
    }
  }
}
