.profile {
  padding-top: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    max-width: 40rem;
    @include title;
    text-align: center;
    position: relative;
    margin-bottom: 8rem;

    &::after {
      content: "";
      position: absolute;
      width: 6rem;
      height: 0.6rem;
      background: #1088ec;
      border-radius: 23px;
      left: 0;
      right: 0;
      bottom: -3rem;
      margin: auto;
    }
  }

  &__lead {
    @include lead;
    margin-bottom: 3rem;
  }

  @media (max-width: 1024px) {
    padding-top: 9.5rem;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    text-align: center;

    img {
      width: 100%;
      margin-top: 3rem;
    }
  }
}
