.way {
  padding-top: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("../img/way_bg.png") no-repeat top 33rem left;

  &__lead {
    @include lead;
  }
  &__title {
    max-width: 35rem;
    @include title;
  }
  @media (max-width: 1024px) {
    padding-top: 9.5rem;
    background: url("../img/way_bg.png") no-repeat top 7rem left;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    text-align: center;
    background: none;

    img {
      margin-top: 3rem;
    }
  }
}
